// dark
$black-sabbath: #000000;
$silent-night: #20232a;
$dark-waters: #282c34;

// cold
$green-day: #1db954;
$blue-world: #61dafb;

// warm
$red-hot-chili-peppers: #ae1100;
$king-crimson: #c61130;
$evolution-joyner: #fac863;

// light
$greirat: #babecc;
$path-of-white: #ebecf0;
