@mixin center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin column-content {
  display: flex;
  flex-direction: column;
}

@mixin center-column-content {
  @include column-content;

  align-items: center;
}
