@import './mixins.scss';
@import './constants.scss';

.footer {
  @include center-content;

  position: relative;
  height: $header-footer-height;
  padding-bottom: 1vw;

  align-items: flex-end;

  &__title {
    text-transform: uppercase;
  }
}
