@import './mixins.scss';
@import './constants.scss';
@import './animations.scss';

.header {
  @include center-content;

  position: relative;
  height: $header-footer-height;
  padding-top: 1vw;

  align-items: flex-start;

  &__title {
    text-transform: uppercase;

    &--blinking {
      @extend .header__title;

      animation: text-blinker 1.25s ease-in-out infinite;
    }
  }
}
