@import './shared/mixins.scss';
@import './shared/constants.scss';
@import './shared/animations.scss';
@import './shared/colors.scss';

.header {
  @include center-column-content;

  $self: &;

  position: relative;
  height: $header-footer-height;

  .header-title-wrapper {
    @include center-content;

    padding: 1vw 0;
    width: 100%;

    background-color: $path-of-white;
    box-shadow: 1px 1px 15px $greirat, inset -1px -1px 2px $path-of-white;

    #{$self}__title {
      text-transform: uppercase;

      color: $dark-waters;

      &--blinking {
        @extend .header__title;

        animation: text-blinker 1.25s ease-in-out infinite;
      }
    }
  }
}
