@import './shared/constants.scss';
@import './shared/colors.scss';

.sidebar-button {
  position: absolute;
  left: 2vw;
  padding: 5px;

  height: 2vw;
  width: 2vw;

  cursor: pointer;
  opacity: 0.75;
  background: none;
  background: no-repeat center/55% url(~assets/menu.svg);
  background-position: center;
  background-color: $path-of-white;
  border: none;
  border-radius: 100%;
  transition: opacity $animation-time ease-in-out, transform $animation-time ease-in-out;

  &:hover {
    opacity: 1;
  }

  &:focus {
    outline: none;
  }

  &--active {
    @extend .sidebar-button;

    transform: rotate(90deg);
  }
}
