@import './shared/constants.scss';
@import './shared/colors.scss';

.sidebar-button {
  position: absolute;
  left: 2vw;
  padding: 1vw;

  height: 3vw;
  width: 3vw;

  opacity: 0.75;
  background: no-repeat center/55% url(~assets/menu.svg);
  background-color: $path-of-white;
  box-shadow: -5px -5px 20px $path-of-white, 5px 5px 20px $greirat;
  border: none;
  border-radius: 100%;
  transition: all $animation-time ease-in-out;
  cursor: pointer;

  &:hover {
    opacity: 1;
    box-shadow: -1px -1px 10px rgba($path-of-white, 0.4), 1px 1px 10px $greirat;
  }

  &:focus {
    outline: none;
  }

  &:active {
    box-shadow: inset 1px 1px 2px $greirat, inset -1px -1px 2px $path-of-white;
  }

  &--active {
    @extend .sidebar-button;

    transform: rotate(90deg);
  }
}
