@import './shared/constants.scss';
@import './shared/mixins.scss';
@import './shared/colors.scss';

.sorting-visualizer {
  flex-grow: 1;

  overflow: hidden;
}

.array {
  @include column-content;

  height: calc(100vh - 2 * #{$header-footer-height});

  justify-content: space-between;

  list-style: none;

  &__item {
    display: block;

    background-color: $blue-world;

    &--comparing {
      @extend .array__item;

      background-color: $evolution-joyner;
    }

    &--swapping {
      @extend .array__item;

      background-color: $king-crimson;
    }
  }
}
